
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* ***************************
             UTILITY 
 ****************************/
.width_100{
    width: 100%;
}

.width_90{
    width: 90%; 
}

.height_50{
    height: 50px;
}

.main_height{
    height: calc(100vh - 80px);
}

.color_white{
    color: white;
}

.no_border{
    border: none;
 }
.color_badge{
    background-color:rgb(22, 91, 186);
    font-size:medium;
}


 /* ***************************
             NAV
 ****************************/
nav{
    height: 80px;
    display: flex;
}

.container_nav{
    width:80px;
    height: 80px;
}

.container_nav:nth-of-type(2){
    width: calc(100% - 160px);
}

.container_nav_img{
    width: 80px; 
}

.container_nav span,
.container_nav input
{
    background-color: rgb(229, 229, 229);
    border: none;
}


 /* ***************************
            MAIN
 ****************************/
.sidebar{
width: 80px;
background-color: rgb(5, 30, 52);
background-image: url(../img/sidebar-bg.png);
}

.content_{
    width: calc(100% - 80px);
    background-color: bisque;
    
}
.upper_content_main{
    min-height: 100px;
    background-color:rgb(27, 114, 232);

}
.inferior_contnte_main{
    height: calc(100vh - 180px);
}





 /* ***************************
           RESPONSIVITA
 ****************************/
 @media screen and (min-width: 992px ){
    .container_nav:nth-of-type(2){
            width: calc(100% - 400px);
        }

    .container_nav,
    .sidebar{
            width: 200px;
        }

    .content_{
        width: calc(100% - 200px);    
        }
    
 }